<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- Activation des annotations standards (inutile si présence de <context:component-scan/> -->
	<context:annotation-config />

	<jpa:repositories base-package="sopra.ecom.repository"/>

	<!-- Activation annotations et scan des classes du package -->
	<context:component-scan base-package="sopra.ecom.repository" />

	<context:property-placeholder location="classpath:sgbd.properties" />

	<!-- Création d'une dataSource DBCP (Connection Pooling) -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${sgbd.driver}" />
		<property name="url" value="${sgbd.url}" />
		<property name="username" value="${sgbd.username}" />
		<property name="password" value="${sgbd.password}" />
		<property name="minIdle" value="${sgbd.min}" />
		<property name="maxTotal" value="${sgbd.max}" />
	</bean>

	<!-- Création d'un entityManagerFactory local à partir de la dataSource -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="sopra.ecom.model" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="${hb.dialect}" />
				<property name="showSql" value="true" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- Création du transactionManager pour JPA avec entityManagerFactory -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- Activation des annotations @Transactionnal avec transactionManager -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Hibernate configuration -->

	<!-- <bean id="sessionFactory" -->
	<!-- class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> -->
	<!-- <property name="dataSource" ref="dataSource" /> -->
	<!-- <property name="packagesToScan" value="sopra.ecom.model" /> -->
	<!-- <property name="hibernateProperties"> -->
	<!-- <props> -->
	<!-- <prop key="hibernate.dialect">${hb.dialect}</prop> -->
	<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
	<!-- <prop key="hibernate.show_sql">true</prop> -->
	<!-- </props> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- <bean id="transactionManagerHB" class="org.springframework.orm.hibernate4.HibernateTransactionManager"> -->
	<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	<!-- </bean> -->
</beans>
